{% extends 'home/index.html.twig' %}

{% block title %}Presence des vendeurs{% endblock %}

{% block content %}

    <div class="content-wrapper">
    <h1> Les vendeurs</h1>
    </div>

{% endblock %}
